@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#map {
  position: absolute;
  top: 50px; /* Adjust this value based on your header's height */
  left: 0;
  width: 100%;
  height: calc(100% - 50px); /* Adjust this value based on your header's height */
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: center;
    z-index: 1000;
  }
  
  #datetime {
    font-family: "Poppins";
    margin-left: auto; /* Push datetime to the right */
    margin-right: 3vw;
  }
  #next-update {
    font-family: "Poppins";
  }
body {
    overflow:hidden
}
  
  